<div class="row-fluid">
  <!--List of user's houses-->
  <div class="span8">
    <ul class="thumbnails">
      <%= render @houses %>
    </ul>
  </div>

  <!--Sidebar: Join/create house form-->
  <div class="span4 well">
    <%= render 'move_in_form' %>
  </div>
</div>