<div class="row-fluid">
  <div class="medium-center-container">
    <h2 class="text-center">Move into a house to start using Housemates</h2>
    <br>

    <%= render 'move_in_form' %>

  </div>
</div>