/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$linkColor: rgb(132, 215, 103)
$navbarBrandColor: rgb(255, 153, 0)

@import "bootstrap"

$medium-width: 50%

body
	padding-top: 90px

.container-fluid
	padding-right: 10%
	padding-left: 10%

.medium-center
	margin: auto
	max-width: $medium-width

.navbar
	.brand
		font:
			size: 32px

@import "bootstrap-responsive"