/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

//Variables
$linkColor: rgb(132, 215, 103)
$navbarBrandColorHover: #f89406
$medium-width: 50%

//Imports
@import "bootstrap"

body
	padding-top: 90px

//Containers
.container-fluid
	padding-right: 5%
	padding-left: 5%

.medium-center-container
	margin: auto
	max-width: $medium-width

//Other components
.navbar
	.brand
		font:
			size: 32px
		color: #f89406
	a.brand:hover
		color: #f89406

ul.nav
	li.dropdown
		a
			padding:
				top: 5px
				bottom: 5px

.caret
	vertical-align: text-top

h4
	a
		color: $black	

textarea
	width: 90%

a.remember-me
	color: $white
	text-decoration: none

//Imports
@import "bootstrap-responsive"