/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

//Variables
$linkColor: rgb(132, 215, 103)
$navbarBrandColor: rgb(255, 153, 0)
$medium-width: 50%

//Imports
@import "bootstrap"

body
	padding-top: 90px

//Containers
.container-fluid
	padding-right: 5%
	padding-left: 5%

.medium-center-container
	margin: auto
	max-width: $medium-width

//Other components
.navbar
	.brand
		font:
			size: 32px

textarea
	width: 90%

//Imports
@import "bootstrap-responsive"