// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables"

ul.thumbnails
	li
		&.note-cell
			&:nth-child(3n+4)
				clear: left
				margin-left: 0

		.thumbnail
			background-color: lighten(#def4c8, 10%)
			border-color: lighten(#def4c8, 10%)
			box-shadow: none
			padding: 10px

h4
	a:hover
		text-decoration: none
	margin: 0
	font-size: 16px
	color: #53A93F

.byline
	color: $gray

.cell-header
	margin-bottom: 10px

//Houses#show
form
	margin: 0px

textarea
	width: 90%